<div class="container letra">
    <div class="row">
        <div class="col-md-12" style="padding-bottom: 235px;">
            <br>
            <h5 class="text-center">Soluciones Informáticas a Tu Alcance, Desde el Software hasta la Reparación</h5>
            <h1 class="text-center">Servicios Técnicos de Mercy Developer</h1>

            
            <div class="pt-5 row">
                <div class="col-md-4">
                    <div class="card" style="width: 18rem;">
                        <img src="assets/98.webp" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="text-center">Instalación de Sistemas Operativos</h5>
                            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card" style="width: 18rem;">
                        <img src="assets/456489598_2519837488224796_493320068497481550_n.jpg" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="text-center">Instalación de Software de Oficina</h5>
                            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card" style="width: 18rem;">
                        <img src="assets/reparacion-de-software-y-hardware-de-computadores.jpg" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="text-center">reparación de computadoras</h5>
                            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                        </div>
                    </div>
                </div>
             
            <div class="pt-5 row">
                <div class="col-md-12">
                    <div class="card" style="width: 100%; border: 2px solid #007bff;">
                        <div class="row no-gutters">
                            <div class="col-md-5">
                                <img src="assets/Windows.png" class="img-fluid rounded-start" alt="Instalación Windows 10 PRO">
                            </div>
                            <div class="col-md-7">
                                <div class="card-body">
                                    <h5 class="card-title">Instalación Windows 10 PRO</h5>
                                    <p class="card-text">Este servicio ofrece la instalación completa de Windows 10 PRO, asegurando que tu sistema esté optimizado, actualizado y listo para usar. Ideal para quienes buscan un sistema operativo confiable y con todas las funciones profesionales de Windows 10.</p>
                                    <h4 style="color: #d9534f; font-size: 1.5rem; font-weight: bold;">$15,000 + IVA</h4>
                                    <div class="d-flex justify-content-end">
                                    <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">Detalle</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Detalles de Windows 10</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <h6><strong>Windows 10: Un Sistema Operativo Confiable y Seguro para el Futuro</strong></h6>
                        <ol>
                            <li>Instalación completa del sistema operativo Windows 10 PRO.</li>
                            <li>Actualización de todos los controladores y actualizaciones de seguridad necesarias.</li>
                            <li>Optimización del sistema para un rendimiento eficiente.</li>
                            <li>Configuración de las opciones de privacidad y seguridad según las necesidades del cliente.</li>
                            <li>Asesoría básica para el uso y personalización del sistema.</li>
                       </ol>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                    </div>
                </div>
                </div>
            </div>
        </div>
    </div>
</div>